@page "/examples"

<h1>Examples</h1>

<br />
<br />
<div class="example">@drexamples</div>
<br />
<br />
<div class="example">@mmexamples</div>

@code {
    private readonly string drexamples = Constants.DiceExpressionExamples;
    private readonly string mmexamples = Constants.MinMaxExamples;
}
